body {
    font-family: "Ubuntu", sans-serif;
    padding: 40px;
    max-width: 900px;
    margin: auto;
    background-color: #fafafa;
    color: #222;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #8b0000;
}

h2 {
    margin-top: 25px;
    color: #8b0000;
}

p, ul {
    font-size: 17px;
    margin-bottom: 18px;
}

a {
    color: #8b0000;
    font-weight: bold;
    text-decoration: underline;
}

